.movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.movieItem {
  width: 150px;
  height: 300px;
  overflow: auto;

  transition: transform 250ms linear;
}

.movieItem::-webkit-scrollbar {
  display: none;
}

.movieItem:hover {
  transform: scale(1.05);
}
